body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

#searchInput {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

form {
  background-color: #fff;
  width: 300px;
  padding: 20px 30px 20px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: 600;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-left: 8px;
}

button:hover {
  background-color: #0056b3;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 80%;
  width: 600px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: 600;
}

.update {
  display: none;
}
